<!doctype html>
<html lang="fr">

    <head>
        <div class="topnav">
            <a class="active" href="{{ path('app_article_homepage') }}">Home</a>
            <a href="{{ path('app_article_show1') }}">Tournois</a>
            <a href="{{ path('app_article_show2') }}">Contact</a>
            <a href="{{ path('app_article_show3') }}">Admin</a>
        </div>
    </head>

    <body>


        {% block body %}



        {% endblock %}



    </body>
</html>
