{% extends 'base.html.twig' %}

{% block title %} Tournois DMT {% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <div>
        ici on va mettre des tournois
    </div>




{% endblock %}
