{% extends 'base.html.twig' %}

{% block title %} Nantes, city in France {% endblock %}

{% block body %}

    <h1>{{ title }}</h1>


    <form action="/action_page.php">
        <label for="tname">Nom tournoi:</label>
        <input type="text" id="tname" name="tname"><br><br>

        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>

        <label for="debut">Date debut:</label>
        <input type="date" id="debut" name="debut"><br><br>

        <label for="fin">Date fin:</label>
        <input type="date" id="fin" name="fin"><br><br>


        <input type="submit" value="Submit">
    </form>

    <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}

    </ul>

{% endblock %}
