{% extends 'base.html.twig' %}

{% block title %} Nantes, city in France {% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}

    </ul>

{% endblock %}
